@import "tailwindcss";

@theme {
    --color-background: #0C152C;
    --color-card-background: rgba(255,255,255,0.1);
    --color-primaryText: #E0E0E0;
    --color-secondaryText: #9E9E9E;
    --color-dividerOrBorder: #37474F;
    --color-trafficGreen: #48DF6B;
    --color-trafficAmber: #EAC94A;
    --color-trafficRed: #E57373;
    --color-accentBlue: #0E648B;
    --color-nighttime: #151d3d;
    --color-daylight: #FFD54F;
    --color-sunset: #CAAE42;
    --color-buttonBlue: #3599d5;
    --font-outfit: "Outfit", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-nunito: "Nunito Sans", sans-serif;
}

/*0D224F*/
body{
    background: #0C152C;
    background: linear-gradient(35deg, #070b1e 0%, #0C152C 40%, #0f1c3b 100%);
    padding: 0.5rem 0;
    min-height: 100vh;

}

.geoapify-autocomplete-items{
    background: #151d3d !important;
    border-radius: 0.5rem !important;
}

.geoapify-autocomplete-items .secondary-part{
    color: rgba(224, 224, 224, 0.77) !important;
}

.geoapify-autocomplete-input{
    width: 100% !important;
    border: none !important;
    font-size: 1rem !important;
}

.geoapify-close-button{
    display: block !important;
    color: rgba(255, 255, 255, 0.33) !important;
    position: static !important;
    margin-right: 0.125rem !important;
}

.geocoder-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgba(255,255,255,0.1);
    border-radius: 0.25rem !important;
    padding: 0.15rem !important;

}