@import "tailwindcss";

@theme {
    --color-background: #0C152C;
    --color-card-background: rgba(255,255,255,0.1);
    --color-primaryText: #E0E0E0;
    --color-secondaryText: #9E9E9E;
    --color-dividerOrBorder: #37474F;
    --color-trafficGreen: #48DF6B;
    --color-trafficAmber: #EAC94A;
    --color-trafficRed: #E57373;
    --color-accentBlue: #0E648B;
    --color-nighttime: #152D62;
    --color-daylight: #FFD54F;
    --color-sunset: #CAAE42;
    --color-buttonBlue: #3599d5;
    --font-outfit: "Outfit", sans-serif;
}

/*0D224F*/
body{
    background: #0C152C;
    background: linear-gradient(35deg, #0C152C 60%, #0f1c3b 90%);
    padding: 0.5rem 0;
    min-height: 100vh;
}

.pac-container {
    background-color: #12182B; /* Dark background */
    color: #E0E0E0; /* Light text */
    border: 1px solid #37474F; /* Dark border */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pac-item {
    color: #E0E0E0;
    padding: 8px 12px;
    cursor: pointer;
}

.pac-item:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Dark hover background */
}

.pac-item-query {
    color: #81D4FA; /* Highlight color */
}